a {
    text-decoration: none;
    color: aliceblue;
    margin-right: 10px;
}

nav a.active {
  color: cyan;
}

div a.active {
    color: cyan;
  }

/* stroke */
nav a {
  position: relative;
  font-size: large;
  margin: 10px;
}
nav a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav a:hover:after {
  width: 100%;
}

nav a,
nav a:after,
nav a:before {
  transition: all .5s;
}
nav a:hover {
  color: yellow;
}